HTTP_PORT=
GRPC_PORT=
METRICS_PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL_MODE=

TEST_DB_HOST=
TEST_DB_PORT_HOST=
TEST_DB_PORT=
TEST_DB_USER=
TEST_DB_PASSWORD=
TEST_DB_NAME=
TEST_DB_SSL_MODE=

JWT_SECRET=
JWT_TTL_HOURS=

LOG_LEVEL=

BCRYPT_COST=

MIGRATIONS_PATH=

CONFIG_PATH=